<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.noteworthy.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <display-name>Login_Registration</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.noteworthy.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.noteworthy.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitReview</display-name>
    <servlet-name>SubmitReview</servlet-name>
    <servlet-class>com.noteworthy.SubmitReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitReview</servlet-name>
    <url-pattern>/SubmitReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>GoogleLoginServlet</servlet-name>
    <servlet-class>com.noteworthy.GoogleLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleLoginServlet</servlet-name>
    <url-pattern>/GoogleLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateOtp</display-name>
    <servlet-name>GenerateOtp</servlet-name>
    <servlet-class>com.noteworthy.GenerateOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateOtp</servlet-name>
    <url-pattern>/GenerateOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOtp</display-name>
    <servlet-name>VerifyOtp</servlet-name>
    <servlet-class>com.noteworthy.VerifyOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOtp</servlet-name>
    <url-pattern>/VerifyOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePassword</display-name>
    <servlet-name>UpdatePassword</servlet-name>
    <servlet-class>com.noteworthy.UpdatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePassword</servlet-name>
    <url-pattern>/UpdatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTask</display-name>
    <servlet-name>AddTask</servlet-name>
    <servlet-class>com.noteworthy.AddTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTask</servlet-name>
    <url-pattern>/AddTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveToInProgressServlet</display-name>
    <servlet-name>MoveToInProgressServlet</servlet-name>
    <servlet-class>com.noteworthy.MoveToInProgressServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveToInProgressServlet</servlet-name>
    <url-pattern>/MoveToInProgressServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveToDoneServlet</display-name>
    <servlet-name>MoveToDoneServlet</servlet-name>
    <servlet-class>com.noteworthy.MoveToDoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveToDoneServlet</servlet-name>
    <url-pattern>/MoveToDoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskServlet</display-name>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>com.noteworthy.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/DeleteTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadTasksServlet</display-name>
    <servlet-name>LoadTasksServlet</servlet-name>
    <servlet-class>com.noteworthy.LoadTasksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadTasksServlet</servlet-name>
    <url-pattern>/LoadTasksServlet</url-pattern>
  </servlet-mapping>
</web-app>