<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>UploadFile</display-name>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.tasks.UploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  <display-name>Task</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.tasks.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadFile</display-name>
    <servlet-name>LoadFile</servlet-name>
    <servlet-class>com.tasks.LoadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadFile</servlet-name>
    <url-pattern>/LoadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFile</display-name>
    <servlet-name>DeleteFile</servlet-name>
    <servlet-class>com.tasks.DeleteFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFile</servlet-name>
    <url-pattern>/DeleteFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreviewFile</display-name>
    <servlet-name>PreviewFile</servlet-name>
    <servlet-class>com.tasks.PreviewFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewFile</servlet-name>
    <url-pattern>/PreviewFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GeminiQuery</display-name>
    <servlet-name>GeminiQuery</servlet-name>
    <servlet-class>com.tasks.GeminiQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeminiQuery</servlet-name>
    <url-pattern>/GeminiQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEvents</display-name>
    <servlet-name>DeleteEvents</servlet-name>
    <servlet-class>com.tasks.DeleteEvents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEvents</servlet-name>
    <url-pattern>/DeleteEvents</url-pattern>
  </servlet-mapping>
</web-app>